<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" th:href="@{febs/css/theme-custom.css(t=2)}" media="all">
    <link rel="stylesheet" th:href="@{layui/css/layui.css(t=2)}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/febs.css(t=2)}" media="all">
    <link rel="icon" th:href="@{febs/images/favicon.ico}" type="image/x-icon"/>

    <style>
        .picther-login {background: url(febs/images/login.jpg) center top no-repeat; background-size: cover;}
        .win-cls {width: 530px; height: 350px; margin-top: 110px; background-color: #ffffff;}
    </style>
</head>
<body>
<div class="max-wth center-durl" style="height: 100px;">
    <div style="width: 1000px; height: 30px;">
        <img data-th-src="@{febs/images/logos.png}" style="float:left;" />
        <div class="ft-r ayui-form">
            <a title="导入pdm文件"><i id="importFile" class="layui-icon febs-blue" style="font-size:24px">&#xe7aa;</i></a> &nbsp;
            <a title="导出为pdm文件"><i id="exportFile" class="layui-icon febs-blue" style="font-size:24px">&#xe7a8;</i></a>
        </div>
    </div>
</div>
<div class="max-width picther-login" style="height: 600px;">
    <div class="wth-8ct max-ht mg-at" >
        <div class="ft-r win-cls" >
            <table id="pdmListTable" lay-filter="pdmListTable"></table>
        </div>
    </div>
</div>
<div class="max-width" style="height:100px;"></div>

<div id="uploadPage" style="display:none">
    <div class="layui-upload">
        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请选择文件" class="layui-input">
        <button type="button" class="layui-btn layui-btn-normal" id="selectFile">选择文件</button>
        <button type="button" class="layui-btn" id="uploadFile">开始上传</button>
    </div>
</div>



</body>

<script type="text/html" id="pdm-option">
    <a lay-event="update"><i class="layui-icon febs-edit-area febs-gold">&#xe7a7;</i></a>
    <a lay-event="del"><i class="layui-icon febs-edit-area febs-lime">&#xe7f9;</i></a>
</script>

<script th:src="@{layui/layui.js}"></script>
<script th:inline="javascript">
    var ctx = [[@{/}]];
    layui.extend({
        febs: 'febs/lay/modules/febs'
    }).use(['jquery', 'form', 'table', 'febs','dropdown','upload'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            dropdown = layui.dropdown,
            upload = layui.upload,
            table = layui.table,
            tableIns;

        tableIns = febs.table.init({
            elem: '#pdmListTable',
            url: ctx + 'pdm/pdmList',
            page:false,
            skin: 'row',
            even: true,
            height:350,
            size: 'sm',
            cols: [[
                {type: 'checkbox', width:40},
                {field: 'pdm_name', title: '名称', minWidth: 190},
                {field: 'update_time', title: '更新时间', width: 130},
                {field: 'pdm_version', title: '版本'},
                {title: '操作', toolbar: '#pdm-option', minWidth: 90}
                // {title: '操作', toolbar: '#pdm-option', minWidth: 140}
            ]]
        });

        table.on('tool(pdmListTable)', function (obj) {
            var data = obj.data,
            layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除文件', '确定删除pdm文件？', function () {
                    febs.get(ctx + 'pdm/delete/' + data.pdm_id, null, function () {
                        febs.alert.success('删除任务成功');
                        $query.click();
                    });
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('更新pdm版本', 'pdm/update/' + data.jobId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#job-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        // $("#importFile").bind("click",function(){
        //     febs.modal.openTo('修改配置', {
        //         btn: ['提交', '取消'],
        //         content: $('#inter-page'),
        //         area: [$(window).width() <= 750 ? '95%' : '50%', '90%'],
        //         yes: function (index, layero) {
        //             $('#inter-common-id').find('#submit').trigger('click');
        //         },
        //
        //         btn2: function () {
        //             layer.closeAll();
        //         }
        //     });
        //
        //     form.val("inter-common-form", inter);
        //     form.render();
        //     $(".layui-layer-content form").attr('id', 'inter-common-id');
        //
        // });
        $("#exportFile").bind("click",function(){

        });

        upload.render({
            elem: '#importFile'
            ,url:  ctx + 'file/import'
            ,accept: 'file'
            ,exts: 'pdm'
            ,done: function(res){
                layer.msg(res.message);
                tableIns.reload();
            }
        });













    })

</script>
</html>

